@font-face{
    font-family:outfit;
    src:url(Outfit-SemiBold.ttf);
}
/*Esto es para poner la fuente globalmente*/
body{
    font-family: outfit;
    font-size: 14px;
}

/*
CSS especifico de la seccion3, Usar .seccion3
en si para cosas del tamaño.
Todos los valores de abajo se hicieron en porcentaje
para que sea facil de mover (Excepto por img)
*/

/*Para que la imagen se vea correctamente*/
.Seccion3 img{
    object-fit: cover;
    border-radius: 10px;
    grid-area:img;
    /*Esto no se puede cambiar a porcentaje porque
    funciona en base a la imagen no al contenedor*/
    width: 200px;
    height: 220px;
}

/*Para que el subtexto se vea distinto al titulo
  Tal vez hacer esto global*/
.Seccion3 h3{
    grid-area: subtitle;
    font-weight: 100;
    color: grey;

}

/*para que las secciones azules se 
vean de manera correcta, requieren un monton
de ajustes por lo distintas que son*/
.Seccion3 h4{
    text-decoration: underline;
    border-radius: 10px;
    grid-area: promo;
    font-size: 24px;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    color: white;
    width:fit-content;
    height: fit-content;
    margin:0%;
    font-weight: 100;
    background-color: rgb(0, 128, 255);
}


/*para que el divider aparezca y se vea*/
.Divider{
    border: 1px;
    border-style:groove;
    margin: 1%;
    margin-top: -1%;
}

/*Una cosa rapida para no tener que reorganizar
todo el organismo*/
.Categoria-Titulo {
    display: flex;
    flex-direction: row;
    gap: 1%;
}

/*Para que las cards queden en fila*/
.Seccion3-Categoria{
    display: flex;
    flex-direction: row;
}

/*Para ordenar las cards correctamente*/
.Seccion3-Card{
    margin-right: 5%;
    width: 50%;
    display: grid;
    grid-template-areas: 
    "img title"
    "img subtitle"
    "img promo";
    gap: 15px;
}

/*para que el titulo entre bien / tenga underline */
.Seccion3-Card h2{
    grid-area: title;
    text-decoration: underline;
    width: 90%;

}


