/*  reseteo de padding y margin */
* {
padding: 0px;
margin: 0px;
box-sizing: border-box;
}
/* scroll suave */
html{
  scroll-behavior: smooth;
}
/*fuente*/
@font-face{
  font-family: outfit;
  src:url(Outfit-SemiBold.ttf);
}
p{
  font-family: outfit, sans-serif;
}
a{
  font-family: outfit, sans-serif;
}

/*-------------------------ENCABEZADO----------------------------*/
.logo{
  background-color: #1B1B1B;
  width: 100%;
  height: 100%;
  background-image: url(img/sección2/imgFondo.png);
  background-repeat: no-repeat;
  background-position: 50px 0px;
}
.logo img{
  margin-left: 500px;
}

.barra-nav {
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* eta e la sombra muchacho */
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.lista-nav {
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.lista-nav li a {
    white-space: nowrap; /*esto es para q el "cine y series" no rompa toda la barra de navegacion*/
    text-decoration: none;
    color: rgb(94, 92, 92);
    background-color: #ffffff;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.lista-nav li a:hover {
    background-color: #02bdd6;
}

/*-------------------------SECCIÓN 02-------------------------*/
.seccion2{
  background-color: #1B1B1B;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  /*fondo*/
  width: 100%;
  height: 500px;
  background-image: url(img/sección2/imgFondo.png);
  background-repeat: no-repeat;
  background-position: 50px 0px;

}
.contenedor-sec2{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-principal{
  max-width: 500px;
  width: 100%;
  height: auto;
}
.img-superpuesta{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 30px;
}
.texto-sec2{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 2em;
  /*esto genera un borde corte "stroke" en las letras para q contrasten con el fondo y sean más legibles*/
  text-shadow:-1px -1px 0 #2b2b2b, 1px -1px 0 #2b2b2b, -1px  1px 0 #2b2b2b, 1px  1px 0 #2b2b2b;

  /* --- Animación de subrayado --- */
  text-decoration: none;
  background-image: linear-gradient(#00BFFF, #00BFFF);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px; 
  transition: background-size 0.3s ease-out;
}

.texto-sec2:hover {
  background-size: 100% 2px;
}


/*-------------------FOOTER-------------------*/
footer{
  background-color: #1B1B1B;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;

  /*fondo*/
  width: 100%;
  height: 200px;
  background-image: url(img/footer/fondo-fuder.png);
  background-repeat: no-repeat;
  background-position: 20px 0px;

  /*fokin flexbox para q los fokin logos queden bien alineados*/
  display: flex;
  flex-direction: column; 
  align-items: center;   
  justify-content: center;
}
.contenedor-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 15px;
}
/*this deja todo alineadito y perfecto*/
.contenedor-footer img {
  height: 30px;
  width: auto; 
  object-fit: contain; 
}
footer p {
  margin-top: 0; 
}

